<!--
  Copyright (c) 2020 Bowser65
  Licensed under the Open Software License version 3.0
-->
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'/>
    <title>#<%= data.ticket.name %> archive • <%= title %></title>

    <meta name='theme-color' content='#7289DA'/>
    <meta property='og:locale' content='en_GB'/>
    <meta property='og:title' content='<%= title %>'/>
    <meta property='og:site_name' content='<%= title %>'/>
    <meta property='og:url' content='<%= hostname %>'/>
    <meta property='og:image' content='/assets/img/logo.png'/>
    <meta property='og:description' content='Chat archive of #<%= data.ticket.name %>'/>
    <link rel='shortcut icon' href='/favicon.ico'/>

    <meta name='twitter:card' content='summary'/>
    <meta name='twitter:site' content='<%= title %>'/>
    <meta name='twitter:creator' content='@eartharoid'/>
    <link rel='stylesheet' href='https://highlightjs.org/static/demo/styles/solarized-dark.css'/>
    <link rel='stylesheet' href='/dist/css/index.css'/>
</head>
<body class='theme-dark'>
    <%- include('partials/header', { data: data, markdown: markdown }) %>
    <main>
        <div class='placeholder'></div>
        <div class='welcome'>
            <div class='channel-icon'></div>
            <h1>Welcome to <b>#<%= data.ticket.name %></b>!</h1>
            <div>Messages: <%= data.messages.length %> <a href="./<%= data.ticket.channel %>.json">(source)</a></div>
        </div>

        <discord-messages>
            <%- include('partials/messages', { data: data, markdown: markdown }) %>
        </discord-messages>
    </main>
    <footer>
        <img src='https://discord.com/assets/dc7e9e55b3a6d39d24acdd650ecc2ef3.svg' alt=''>
        <span>
            This ticket was closed on&nbsp;

            <message-date data-type='full' data-timestamp='<%= new Date(time) %>'>
                <%= new Intl.DateTimeFormat('en-GB', {
                    year: 'numeric',
                    month: 'long',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    timeZoneName: 'short'
                }).format(new Date(time)) %>
			</message-date>
        </span>
    </footer>
    <script>
      window.GLOBAL_ENV = { HOSTNAME: '<%= hostname %>' }
    </script>
    <script src="/dist/js/index.js"></script>
</body>
</html>
