<!--
  Copyright (c) 2020 Bowser65
  Licensed under the Open Software License version 3.0
-->
<% const icons = [
    'https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg',
    'https://discord.com/assets/aff52bc375fe2da876174301a5c6d09d.svg',
    'https://discord.com/assets/d80d1fdc43a3c42134a31a39581160ac.svg',
    'https://discord.com/assets/0c9615349350c4185381d58c69b88cbc.svg',
    'https://discord.com/assets/0c9615349350c4185381d58c69b88cbc.svg',
    'https://discord.com/assets/5da4cdab01d4d89c593c48c62ae0d937.svg',
    'https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg',
    'https://cdn.discordapp.com/emojis/585558042309820447.png',
    'https://cdn.discordapp.com/emojis/585558042309820447.png',
    'https://cdn.discordapp.com/emojis/585558042309820447.png',
    'https://cdn.discordapp.com/emojis/585558042309820447.png',
    'https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg',
    null, // GUILD_STREAM (seems unused?)
    'https://discord.com/assets/46db4c8d56c169f418cc5c0f0d4ddf70.svg',
    'https://discord.com/assets/286a546022f1e3cbe45b41090f8d6e97.svg'
] %>
<% for (const group of data.grouppedMessages) { %>
    <% for (const msg of group) { %>
        <% const author = msg.user || { username: 'Deleted User', discriminator: '0000\u200B' } %>
        <% if (msg.type && msg.type !== 0) { %>

            <discord-message data-id='<%= msg.id %>' data-author='<%= msg.author %>'
                             class='system<% if (group.indexOf(msg) === 0) { %> group-start<% } %><% if (msg.deleted) { %> deleted<% } %>'>
                <div class='icon'>
                    <img src='<%= icons[msg.type - 1] %>' alt='icon'>
                </div>

                <message-markup><%- markdown.parse(msg.content, data.entities, false, true) %></message-markup>

                <message-date class='date' data-type='date' data-timestamp='<%= msg.time %>'>
                    <%= new Date(msg.time).toUTCString() %>
                </message-date>
            </discord-message>
        <% } else { %>

            <discord-message data-id='<%= msg.id %>' data-author='<%= msg.author %>' data-username=' <%= author.username %> '
                             class='<% if (group.indexOf(msg) === 0) { %> group-start<% } %><% if (msg.deleted) { %> deleted<% } %>'>
                <img is='message-avatar' src='<%= author.avatar %>' data-discriminator='<%= author.discriminator %>'
                     alt='avatar' class='avatar'/>

                <message-date class='time' data-type='time' data-timestamp='<%= msg.time %>'>
                    <% const msgDate = new Date(msg.time) %>
                    <!-- @formatter:off -->
                    <%= msgDate.getHours().toString().padStart(2, '0') %>:<%= msgDate.getMinutes().toString().padStart(2, '0') %>
                    <!-- @formatter:on -->
                </message-date>
                <div class='contents'>
     
                    <message-header>
						<% if (author.color) { %>
							<span class='name' style='color:<%=markdown.int2rgba(author.color)%>!important;'><%= author.displayName %></span>
						<% } else {%>
							<span class='name' ><%= author.displayName %></span>
						<% } %>
                        <span class='badge'><%= author.badge %></span>
  
                        <message-date class='date' data-type='date' data-timestamp='<%= msg.time %>'>
                            <%= new Date(msg.time).toUTCString() %>
                        </message-date>
                    </message-header>

                    <message-markup>
                        <%- markdown.parse(msg.content, data.entities, author.discriminator === '0000') %>
                    </message-markup>
                    <div class='embeds'>
                        <% if (typeof msg.invites !== 'undefined') { %>
                            <% for (const invite of msg.invites) { %>
                                <discord-invite data-code='<%= invite %>'></discord-invite>
                            <% } %>
                        <% } %>
                        <% if (typeof msg.attachments !== 'undefined') { %>
                            <% for (const attachment of msg.attachments) { %>
                                <%- include('attachment', { data: data, attachment: attachment }) %>
                            <% } %>
                        <% } %>
                        <% if (typeof msg.embeds !== 'undefined') { %>
                            <% for (const embed of msg.embeds) { %>
                                <%- include('embed', { data: data, embed: embed, markdown: markdown }) %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </discord-message>
        <% } %>
    <% } %>
<% } %>
